h1 {
    color: white;
    background-color: black;
    font-family: 'Playwrite GB S', cursive;  /* an example font that must match the Google font you have imported into your HTML */
  }

body {
    color: white;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 40px;
  }
