h1 {
    color: #4E5448;
    background-color: #DAD1BF;
    font-family: 'Playwrite GB S', cursive;  /* an example font that must match the Google font you have imported into your HTML */
  }

body {
    color: black;
    background-color: #DAD1BF;
    font-family: 'Raleway', sans-serif;
    margin-right: 60px;
    margin-bottom: 50px;
    margin-left: 50px;
  }
